*{
    font-family: system-ui;
    padding: 0;
    margin: 0;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-20{
    margin-bottom: 20px; 
}
.mr-10{
    margin-right: 10px;
}
.ml-10{
    margin-left: 10px;
}
.ml-45{
    margin-left: 45px;
}
.btn-big{
    width: 94px;
    height: 41px;
    border-radius: 10px;
    color: black;
    border: 1px solid black;
    padding: 3px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    padding: 7px;
}
.btn{
    width: 80px;
    height: 25px;
    border-radius: 4px;
    color: black;
    border: 1px solid black;
    padding: 3px;
    text-decoration: none;
    text-align: center;
}
.gray{
    background-color: #f0f0f0;
}
.blue{
    background-color: #007bff;
}
.blue-blur{
    background-color: #17a2b8;
}
.yellow{
    background-color: #ffc107;
}
.red{
    background-color: #dc3545;
}
.green{
    background-color: #28a745;
}
.inline-block{
    display: inline-block;
}
.div-left{
    float: left;
}
.div-right{
    float: right;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}

.clear-fix{
    clear: both;
}
.select{
    width: 264px;
    height: 25px;
}
.input{
    width: 264px;
    height: 25px;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 0px 10px;
}
.err-span{
    color: red;
}

.table{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
.table tr th, td{
    border: 1px solid #ddd;
    padding: 10px;
}
.line{
    height: 2px;
    background-color: black;
}
.textarea{
    padding: 10px;
    box-sizing: border-box;
    width: 264px;
    height: 70px;
    padding: 10px;
}
.flex{
    display: flex;
}



